body {
  /* background-color: rgb(235, 235, 251); */
}
table{
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  border: 1px solid black;
  width: 33px;
  height: 33px;
  position:relative;
}
.empty-div{
  min-height: 100%;
  background-color: lightblue;
  opacity: 0.4;
  width: 100%;
  z-index: 2;
}
[class*="row-span"] {
  position:absolute;
  top:0;
  left:0;
  right:0;
}
.row-span-4 {
  width:calc(400% + 3*1px);
}
.row-span-3 {
  width:calc(300% + 2*1px);
}
.row-span-2 {
  width:calc(200% + 1*1px);
}
.row-span-1 {
  width:calc(100% + 0*1px);
}