main{
    display: flex;
}
.board{
    margin: 10px;   
    border: 1px solid red;
}
.bot-board,.p1-board{
    margin: 10px;   
    border: 1px solid red;
}
.row,.p1-row{
    display: flex;
}
.bot-cell,.p1-cell{
    background-color: lightblue;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    user-select: none;
    position: relative;
}
.hit{
    background-color: red;
}
.miss{
    background-color: pink;
}
.cell:hover{
    background-color: rgb(103, 143, 157);
    cursor: pointer;
}
.ship{
    background-color: black;
}

.drag-over {
    border: dashed 3px red;
}
.res{
    background-color: rebeccapurple;
}